<div class="navbar-collapse collapse" id="navbar-main">
  <%= simple_form_for(:session, url: sessions_path, html: { class: "navbar-form navbar-right" }) do |f| %>
    <div class="form-group">
      <%= f.input :email, label: false, input_html: { class: "form-control" }, placeholder: "E-mail" %>
    </div>
    <div class="form-group">
      <%= f.input :password, label: false, input_html: { class: "form-control" }, placeholder: "Senha" %>
    </div>
    <%= f.submit "Entrar", class: "btn btn-default" %>
  <% end %>
  <small class="pull-right">Novo usuário ? <%= link_to "Cadastre-se!", new_user_path %></small>
</div>