<%= render 'sidebar' %>
<% provide(:title, 'Buscar um Chief') %>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <%= simple_form_for :search,  url: users_path, html: { class: "form-inline" }, method: :get do |f| %>
        <%= f.input :q %>
        <%= f.submit "Buscar", class: "btn btn-default" %>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <%= will_paginate %>
    <%= render @users %>
    <%= will_paginate %>
  </div>
</div>