<% if signed_in? %>
  <li><%= link_to current_user.first_name, current_user %></li>
  <li><%= link_to "Desconectar", signout_path, method: :delete %></li>
<% else %>
  <li><%= link_to "Sign In", new_session_path %></li>
<% end %>


<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @user.birth %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender.name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
