<%= render 'sidebar' %>
<br>
<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <center>
    <div class="thumbnail">
      <%= image_tag(display_avatar(@user,"md"), class:"img-responsive") %>
      <h4><%= "#{@user.first_name} #{@user.last_name}" %></h4>
    </div>
    </center>
    <%= render 'follow_form' %>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'posts/form' %>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= render 'shared/stats' %>
      </div>
      <div class="panel-body">
        <% @user.following.limit(10).each do |following| %>
          <div class="avatar-following pull-left">
            <%= link_to image_tag(display_avatar(following, "xs"), size: "40x40"), user_path(following.id) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <hr>
    <div id="timeline">
      <%= render 'posts/timeline' %>
    </div>
  </div>
</div>