<div class="row clearfix">
  <div class="col-md-12 column">
    <div class="carousel slide" id="carousel-493544">
      <ol class="carousel-indicators">
        <li data-slide-to="0" data-target="#carousel-493544">
        </li>
        <li data-slide-to="1" data-target="#carousel-493544">
        </li>
        <li data-slide-to="2" data-target="#carousel-493544" class="active">
        </li>
      </ol>
      <div class="carousel-inner">
        <div class="item">
          <%= image_tag "pratos/prato1.jpg" %>
          <div class="carousel-caption">
            <h4>
              Receitas nacionais.
            </h4>
            <p>
              Desfrute das receitas da culinária brasileira.
            </p>
          </div>
        </div>
        <div class="item">
          <%= image_tag "pratos/prato2.jpg" %>
          <div class="carousel-caption">
            <h4>
              Receitas internacionais.
            </h4>
            <p>
              Experimente um pouco da culinária internacional, e seus deliciosos pratos.
            </p>
          </div>
        </div>
        <div class="item active">
          <%= image_tag "pratos/prato3.jpg" %>
          <div class="carousel-caption">
            <h4>
              As suas receitas.
            </h4>
            <p>
              Compartilhe aqui sua receita, talvez ela se torne um prato famoso.
            </p>
          </div>
        </div>
      </div> <a class="left carousel-control" href="#carousel-493544" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-493544" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    <br><br>
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <%= image_tag "pratos/prato4.jpg" %>
          <div class="caption">
            <h3>
              Domando a cozinha.
            </h3>
            <p>
	          Surpreenda a todos com sua criatividade e pratos de dar água na boca.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <%= image_tag "pratos/prato5.jpg" %>
          <div class="caption">
            <h3>
	          Além do ovo frito.
            </h3>
            <p>
              Mostre a todos que você sabe ir além de um ovo frito.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <%= image_tag "pratos/prato6.jpg" %>
          <div class="caption">
            <h3>
              Saúde.
            </h3>
            <p>
              Fique por dentro das receitas saudáveis..
            </p>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>