<div class="row clearfix">
  <div class="col-md-12 column">
    <div class="carousel slide" id="carousel-493544">
      <ol class="carousel-indicators">
        <li data-slide-to="0" data-target="#carousel-493544">
        </li>
        <li data-slide-to="1" data-target="#carousel-493544">
        </li>
        <li data-slide-to="2" data-target="#carousel-493544" class="active">
        </li>
      </ol>
      <div class="carousel-inner">
        <div class="item">
          <%= image_tag "pratos/prato1.jpg" %>
          <div class="carousel-caption">
            <h4>
              Receitas nacionais
            </h4>
            <p>
              Alguma coisa interesante aqui...
            </p>
          </div>
        </div>
        <div class="item">
          <%= image_tag "pratos/prato2.jpg" %>
          <div class="carousel-caption">
            <h4>
              Receitas internacionais
            </h4>
            <p>
              Algo mais aqui, que fale alguma coisa legal e tal, sem frescura, mas que fique legal
            </p>
          </div>
        </div>
        <div class="item active">
          <%= image_tag "pratos/prato3.jpg" %>
          <div class="carousel-caption">
            <h4>
              As suas receitas
            </h4>
            <p>
              Algo empolgante, que faça alguem querer enviar todas as receitas do mundo...
            </p>
          </div>
        </div>
      </div> <a class="left carousel-control" href="#carousel-493544" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-493544" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    <br><br>
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <%= image_tag "pratos/prato4.jpg" %>
          <div class="caption">
            <h3>
              Seja você o chief
            </h3>
            <p>
              Use a criatividade e encante a todos com suas incríveis receitas e design incríveis.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <%= image_tag "pratos/prato5.jpg" %>
          <div class="caption">
            <h3>
              Alêm do ovo frito
            </h3>
            <p>
              Mostre a todos que você sabe ir alêm de um ovo frito.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <%= image_tag "pratos/prato6.jpg" %>
          <div class="caption">
            <h3>
              Saúde
            </h3>
            <p>
              Alguma coisa relacionada a saúde.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>