<!DOCTYPE html>
<html>
<head>
  <title>Cookbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 column">
        <%= render "layouts/header" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 column">
        <% flash.each do |type, message| %>
		  <div class="alert <%= "alert-#{type}" %> alert-dismissable fade in">
		    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			<%= message.html_safe %><br>
		  </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 column">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
